<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Correo de cotización de cobertura</title>
  
  <style>
    li {
      margin: 10px 0;
    }

    .bold {
      font-weight: bolder;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <ul>
    {{#each data}}
      <li><span class="bold">{{this.[0]}}</span>: {{this.[1]}}</li>
    {{/each}}
  </ul>
</body>
</html>